.head{
    display: flex;
    height: 50px;
    padding: 0px;
    background-color:  #1f2937;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.head .buttons{
    background-color: #1f2937;
    width: 75px;
    height: 35px;
    
    
    
}