.head{
    display: flex;
    height: 50px;
    padding: 0px;
    background-color:  #1f2937;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.buttons #items{
    background-color: #1f2937;
    width: 125px;
    height: 35px;
    padding: 0;
    
    
    
}
.middle-01{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    background-color: #1f2937;
}
